# Eclipse workspace files
.metadata
RemoteSystemsTempFiles

# Project files
.project
.cproject
.settings
.idea
.vscode
*.srctrlbm
*.srctrldb
*.srctrlprj

# Built files
Makefile
build/
libs/
Obj/
*debug*
*.exe
battleVision

# Misc temp data
*.battle
*.bak

# CMake files
CMakeCache.txt
CMakeFiles
cmake_install.cmake
/Default/
environment.inc

# Image files
*.jpg
*.png
*.tga
